// Horizontal

// Vertical
      
      // Universal width
      $fretb_width:  576;

      // Variable heights
      $fretb_height_v15: 1496; // 15 frets
      $fretb_height_v12: 1232; // 12 frets
      $fretb_height_v9:  968;  // 9 frets
      $fretb_height_v7:  792;  // 7 frets
      $fretb_height_v5:  616;  // 5 frets
      $fretb_height_v4:  528;  // 4 frets

      // Cell size
      $cell_width:  72;
      $cell_height: 88;