@import "typography";
@import "scaffolding";
@import "fretboard_setup";

/* Fretboard Container/Wrapper */

        .container {
          width: 288px;
          margin: 0 auto;
        }
        .container_h {
          max-width: 576px;
          margin: 0 auto;
        }
                @media all and (max-width: 383px) { .container_h { max-width: 288px; } }
                @media all and (max-width: 576px) { .container_h { width: 384px; } }
        
        .svg_wrapper {
          background-color: #fff;
        	position: relative;
        	height: 0;
        }

        .svg_wrapper svg.fretboard_bg {
          position: absolute;
          top: 0; left: 0;
          z-index: 0;
        }

        .svg_wrapper .cells { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; overflow: hidden; }

        // Verticals
        .svg_wrapper.v4  { padding-top: percentage( $fretb_height_v4  / $fretb_v_width ); }
        .svg_wrapper.v5  { padding-top: percentage( $fretb_height_v5  / $fretb_v_width ); }
        .svg_wrapper.v7  { padding-top: percentage( $fretb_height_v7  / $fretb_v_width ); }
        .svg_wrapper.v9  { padding-top: percentage( $fretb_height_v9  / $fretb_v_width ); }
        .svg_wrapper.v12 { padding-top: percentage( $fretb_height_v12 / $fretb_v_width ); }
        .svg_wrapper.v15 { padding-top: percentage( $fretb_height_v15 / $fretb_v_width ); }
        
        .svg_wrapper.v .cell svg { width: percentage( $cell_width_v / $fretb_v_width ); float: left; display: block; }

        .svg_wrapper.v4  .cell svg { height: percentage( $cell_height_v / $fretb_height_v4  ); }
        .svg_wrapper.v5  .cell svg { height: percentage( $cell_height_v / $fretb_height_v5  ); }
        .svg_wrapper.v7  .cell svg { height: percentage( $cell_height_v / $fretb_height_v7  ); }
        .svg_wrapper.v9  .cell svg { height: percentage( $cell_height_v / $fretb_height_v9  ); }
        .svg_wrapper.v12 .cell svg { height: percentage( $cell_height_v / $fretb_height_v12 ); }
        .svg_wrapper.v15 .cell svg { height: percentage( $cell_height_v / $fretb_height_v15 ); }

        // Horizontals
        .svg_wrapper.h5  { padding-top: percentage( $fretb_h_height  / $fretb_width_h5 ); }
        .svg_wrapper.h6  { padding-top: percentage( $fretb_h_height  / $fretb_width_h6 ); }
        .svg_wrapper.h7  { padding-top: percentage( $fretb_h_height  / $fretb_width_h7 ); }

        .svg_wrapper.h .cell { height: percentage( $cell_height_h / $fretb_h_height ); float: left; display: block; z-index: 2; }
        
        .svg_wrapper.h5 .cell { width: percentage( $cell_width_h / $fretb_width_h5  ); }
        .svg_wrapper.h6 .cell { width: percentage( $cell_width_h / $fretb_width_h6  ); }
        .svg_wrapper.h7 .cell { width: percentage( $cell_width_h / $fretb_width_h7  ); }


/* Fretboard Element Styles */
        .cell.dot .fretb_dot { fill: #27a9e1; }
        .cell.dot.root .fretb_dot { fill: #F05A28; }
        .cell.dot.faded .fretb_dot { opacity: 0.25 }
        .fretboard_bg .fret_bg rect  { fill: #fff; }
        .fretboard_bg .frets rect   { fill: #ddd; }
        .fretboard_bg .nut rect     { fill: #6e6e6e; }
        .fretboard_bg .strings rect { fill: #6e6e6e; }        
        
        .svg_wrapper.noNut .fretboard_bg .nut rect { fill: none; }
