@import "typography";
@import "scaffolding";
@import "fretboard_setup";

/* Fretboard Container/Wrapper */

        .container {
          width: 144px;
          margin: 0 auto;
        }
        .svg_wrapper {
          background-color: #fff;
        	position: relative;
        	height: 0;
        }
        .svg_wrapper.f5 { padding-top: 106.94444%; }
        .svg_wrapper.f4 { padding-top: 91.666666666%; }
        .svg_wrapper svg.fretboard_bg {
          position: absolute;
          top: 0; left: 0;
        }
        
        .svg_wrapper .cells { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
        .svg_wrapper .cell svg { width: 12.5%; float: left; display: block; }
        .svg_wrapper.f5 .cell svg { height: 14.285714285%; }
        .svg_wrapper.f4 .cell svg { height: 16.666666666%; }

/* Fretboard BG */
        
//        /* Positioning */
//        .fretboard_svg {
//            width: 100%;
//            height: 100%;
//            position: absolute;
//            top: 0;
//            left: 0;
//        }
//
///* Fretboard Cell Sizing */
//        .cell { display: block; float: left; width: percentage( $cell_width / $fretb_width ); max-height: 100%; }
//        .v4 .cell  { height: percentage( $cell_height / $fretb_height_v4 ); }
//        .v5 .cell  { height: percentage( $cell_height / $fretb_height_v5 ); }
//        .v7 .cell  { height: percentage( $cell_height / $fretb_height_v7 ); }
//        .v9 .cell  { height: percentage( $cell_height / $fretb_height_v9 ); }
//        .v12 .cell { height: percentage( $cell_height / $fretb_height_v12 ); }
//        .v15 .cell { height: percentage( $cell_height / $fretb_height_v15 ); }
//
///* Fretboard Element Styles */
//        .cell.dot .fretb_dot { fill: #27a9e1; }
//        .cell.empty          { /* no styles needed */ }
//        .fretboard_svg .fret_bg rect  { fill: #fff; }
//        .fretboard_svg .frets rect   { fill: #ddd; }
//        .fretboard_svg .nut rect     { fill: #6e6e6e; }
//        .fretboard_svg .strings rect { fill: #6e6e6e; }